/*****************************************
 * Title : PHP Quick Profiler CSS
 * Author : Designed by Kevin Hale.
 * URL : http://particletree.com/features/php-quick-profiler/
*****************************************/

/* global reset */
.pQp {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
.pQp * {
  border: 0;
  color: #444;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.pQp dl,
.pQp ul {
  list-style: none;
}

/* main container */
.pQp .container {
  margin: 0 auto;
  min-width: 960px;
  width: 85%;
}
.pQp .content {
  background-color: #111;
  border: 12px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  font-family: 'Lucida Grande', Tahoma, Arial, sans-serif;
}

/* header */
.pQp .header {
  background: black;
  border-bottom: 1px solid #CCC;
  text-align: center;
}
.pQp .header li {
  float: left;
  width: 20%;
}
.pQp .header a {
  border: solid black;
  border-bottom: solid #444;
  border-radius: 10px 10px 0 0;
  border-width: 0 0 6px 1px;
  display: block;
  padding: 20px 0 15px;
}
.pQp .shrink .header a,
.pQp .shrink .header a.selected {
  border: none;
}
.pQp .header li:first-child a {
  border-left: none;
}
.pQp .header a:hover {
  background: #222;
  border-bottom-color: #777;
}
.pQp .header a.selected {
  background: #222;
  border-bottom: 6px solid white;
}
.pQp .header h3 {
  font-size: 23px;
  font-weight: bold;
}
.pQp .console {
  color: #588E13;
}
.pQp .speed {
  color: #3769A0;
}
.pQp .queries {
  color: #953FA1;
}
.pQp .memory {
  color: #D28C00;
}
.pQp .files {
  color: #B72F09;
}
.pQp .header h4 {
  color: white;
  font-weight: bold;
}
.pQp .header:after {
  clear: both;
  content: '';
  display: block;
}

/* general interior */
.pQp .pqp-box {
  display: none;
  height: 200px;
  overflow: auto;
}
.pQp .shrink .pqp-box {
  border-top: none;
  height: 0;
  visibility: hidden;
}
.pQp .tall .pqp-box {
  height: 500px;
}
.pQp .active-box {
  display: block;
}
.pQp .no-logs {
  color: white;
  font-size: 16px;
  line-height: 200px;
}
.pQp .meta {
  border-bottom-left-radius: 20px;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 210px;
}
.pQp .meta li {
  padding: 12px 0 15px;
}
.pQp .box li {
  float: left;
  width: 105px;
}
.pQp .meta h5 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  text-shadow: #444 1px 1px 2px;
}
.pQp .meta h6 {
  color: #F4FCCA;
  font-size: 11px;
}
.pQp .meta .console-background {
  background: #588E13;
}
.pQp .meta .console-alt-background {
  background: #47740D;
}
.pQp .meta .speed-background {
  background: #3769A0;
}
.pQp .meta .speed-alt-background {
  background: #2B5481;
}
.pQp .meta .queries-background {
  background: #953FA1;
}
.pQp .meta .queries-alt-background {
  background: #7B3384;
}
.pQp .meta .memory-background {
  background: #D28C00;
}
.pQp .meta .memory-alt-background {
  background: #AB7200;
}
.pQp .meta .files-background {
  background: #B72F09;
}
.pQp .meta .files-alt-background {
  background: #9B2700;
}
.pQp .messages {
  box-shadow: -3px 0 4px -1px rgba(0, 0, 0, 0.75);
  font-family: Monaco, "Consolas", "Lucida Console", "Courier New", monospace;
  margin-left: 210px;
  min-height: 100%;
  position: relative;
}
.pQp .messages li {
  background: black;
  border-top: 1px solid #333;
  clear: left;
  display: block;
  position: relative;
}
.pQp .messages li:after {
  clear: both;
  content: ' ';
  display: block;
  visibility: hidden;
}
.pQp .messages li:first-child {
  border-top: none;
}
.pQp .messages li:nth-child(even) {
  background: #111;
}
.pQp .messages li:hover {
  background: #2E2E2E;
}
.pQp .messages li:hover .message {
  color: white;
}
.pQp .messages span {
  display: block;
}
.pQp .messages .type {
  height: 100%;
  position: absolute;
  width: 70px;
}
.pQp .messages .error {
  background: #9B2700;
}
.pQp .messages .log {
  background: #47740D;
}
.pQp .messages .memory {
  background: #D28C00;
}
.pQp .messages .speed {
  background: #2B5481;
}
.pQp .messages .type h5 {
  color: #F4FCCA;
  font-size: 9px;
  padding-top: 5px;
  text-transform: uppercase;
}
.pQp .messages .message {
  color: #AAA;
  font-size: 11px;
  margin-right: 50px;
  padding: 7px 10px;
  text-align: left;
  white-space: pre-wrap;
}
.pQp .messages .labeled .message {
  margin-left: 70px;
}
.pQp .messages .data {
  color: #FFFD70;
  font-size: 10px;
  padding: 8px 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.pQp .messages .sub-data {
  color: #AAA;
  font-size: 9px;
  margin-top: -5px;
  padding: 0 10px 7px;
}
.pQp .messages .sub-data:after {
  clear: both;
  content: ' ';
  display: block;
  visibility: hidden;
}
.pQp .messages .sub-data dt {
  color: #999;
  float: left;
  padding-left: 5px;
}
.pQp .messages .sub-data dt:before {
  content: '\b7\a0';
}
.pQp .messages .sub-data dt:first-child {
  padding-left: 0;
}
.pQp .messages .sub-data dt:first-child:before {
  content: '';
}
.pQp .messages .sub-data dt:after {
  content: ':';
}
.pQp .messages .sub-data dd {
  color: #CCC;
  float: left;
  margin: 0;
  padding: 0 2px 0 5px;
}

/* footer */
.pQp .footer {
  border-top: 1px solid #CCC;
  font-size: 11px;
  padding: 2px 3px 4px;
}
.pQp .footer .credit {
  float: left;
  text-align: left;
  text-decoration: none;
  width: 200px;
}
.pQp .footer .credit .php {
  color: white;
  font-weight: bold;
}
.pQp .footer .credit .profiler {
  color: #999;
}
.pQp .footer .actions {
  margin-left: 200px;
  text-align: right;
}
.pQp .footer .actions li {
  display: inline-block;
}
.pQp .footer .actions a {
  color: #AAA;
  padding: 2px 5px;
}
